@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

logotohome img{
    border-radius: 70%;
    width: 70px;
    height: 70px;
    object-fit: cover; /* 画像のトリミング */
}



/* ========== common ========== */
html, body {
	font-size: 16px;
	font-family: sans-serif;
	color: #393939;
    margin-left: 15px;
    margin-bottom: 40px;
}
h1 {
    text-align: center;
    position: relative;
    padding: 1.5rem 1.5rem calc(1.5rem + 10px);
    border: 2px solid #000;
  }
  
  h1:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    border-top: 2px solid #000;
    background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
h2{
    margin-left: 0;
    margin-top: 1em;
    padding: 1rem 2rem;
    border-left: 5px solid #000;
    background: #f4f4f4;
    display: inline-block;
  }
h3{
    margin-left: 2em;
}
div{
    margin-top: 1em;
    margin-left: 3em;
}
p{
    margin-left: 3em;
    color: #393939;
}
span.blackback{
    text-indent: 3em;
    background: #393939;
    color: #efefef;
}
table {
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    padding: 5px 15px;
    border: solid 1px #333;
  }
  th{
    color: #333; 
  background-color: #f0f2f7;
  }
  caption{
    font-weight: bold;
  }

.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: -1;
  }
  .Paper_v2 {
    background-image:
      repeating-linear-gradient(to bottom,
        transparent 25px,
        rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
        transparent 27px,  transparent 51px, 
        rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
        transparent 53px,  transparent 77px, 
        rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
        transparent 79px,  transparent 103px, 
        rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
        transparent 105px,  transparent 129px, 
        rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
   
      repeating-linear-gradient(to right,
        transparent 25px,
        rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
        transparent 27px,  transparent 51px, 
        rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
        transparent 53px,  transparent 77px, 
        rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
        transparent 79px,  transparent 103px, 
        rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
        transparent 105px,  transparent 129px, 
        rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
  }
  .btn-circle-border-simple {
    display: inline-block;
    text-decoration: none;
    color: #393939;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    border: solid 2px #393939;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    transition: .4s;
  }
  
  .btn-circle-border-simple:hover {
    background: #efefef;
  }
  
  
.underline01 {
  background: #eeff00;
}

.underline02 {
  background: linear-gradient(transparent 40%, #f5ff00 60%);
}

.underline03 {
  background: linear-gradient(transparent 80%, #f5ff00 20%);
}
