@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

logo img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover; /* 画像のトリミング */
}

logotohome img{
  border-radius: 70%;
  width: 70px;
  height: 70px;
  object-fit: cover; /* 画像のトリミング */
}



/* ========== common ========== */
html, body {
	font-size: 18px;
	font-family: sans-serif;
	color: black;
  margin-left: 15px;
  margin-bottom: 40px;
  font-weight: 500;
}

h1 {
  position: relative;
  margin-top: 100px;
  width: 80%;
  left: 7%;
  padding: 1rem;
  border-radius: 5px;
  background: repeating-linear-gradient(45deg, #D2B48C 0 20px, #fff 20px 25px);
  color: #393939;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

h1::before {
  position: absolute;
  bottom: -16px;
  left: calc(50% - 6px);
  transform: translateX(-50% + 6px);
  height: 25px;
  width: 3px;
  background-color: white;
  content: "";
}

h1::after {
  position: absolute;
  top: -8px;
  left: -8px;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  content: '';
}
h2{
  margin-left: 3%;
  margin-top: 1em;  
  padding: 1rem 2rem;
  border-left: 5px solid #000;
  background: #f4f4f4;
  display: inline-block;
}

h2 {
  --main-color: white;
  margin-bottom: 0.2rem;
  padding: 0.7rem;
  color: #393939;
  box-shadow: 0px 0px 0px 5px var(--main-color);
  border: 3px dashed;
  border-radius: 1rem;
  border-color: #D2B48C;
  background-color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
}


h3 {
  margin-left: 3em;
  border-bottom: 3px solid #000;
  display: inline-block;
}

div{
    margin-top: 1em;
    margin-left: 3em;
}
p{
    margin-left: 3em;
    color: black;
}
span.blackback{
    text-indent: 3em;
    background: #393939;
    color: #efefef;
}
table {
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    padding: 5px 15px;
    border: solid 1px #333;
  }
  th{
    color: #333; 
  background-color: #f0f2f7;
  }
  caption{
    font-weight: bold;
  }

  .bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 91vw;
    height: 100vh;
    background-color: white;
    z-index: -1;
  }
  .Polka {
    background-image: radial-gradient(#D2B48C 2px,  #f4f0e5 2px);
    background-size: 20px 20px;

  }

  *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  left: 20px;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-malformation {
  font-size: 2rem;

  padding: 3rem 4rem;

  color: #fff;
  border-radius: 100% 80px / 80px 100%;
  background-color: #D2B48C;
}

a.btn-malformation:hover {
  color: #fff;
  border-radius: 60% 80% / 100% 80%;
}
  
  .underline01 {
    background: #eeff00;
  }
  
  .underline02 {
    background: linear-gradient(transparent 40%, #f5ff00 60%);
  }
  
  .underline03 {
    background: linear-gradient(transparent 80%, #f5ff00 20%);
  }
  