@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

logotohome img{
    border-radius: 70%;
    width: 70px;
    height: 70px;
    object-fit: cover; /* 画像のトリミング */
}



/* ========== common ========== */
html, body {
	font-size: 17px;
	font-family: sans-serif;
	color: #393939;
    margin-left: 15px;
    margin-bottom: 40px;
}
h1 {
    text-align: center;
    position: relative;
    padding: 1.5rem 1.5rem calc(1.5rem + 10px);
    border: 2px solid #000;
  }
  
  h1:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    border-top: 2px solid #000;
    background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
h2{
    margin-left: 0;
    margin-top: 1em;
    padding: 1rem 2rem;
    border-left: 5px solid #000;
    background: #f4f4f4;
    display: inline-block;
}

h3{
  margin-left: 2em;
}

div{
    margin-top: 1em;
    margin-left: 3em;
}
p{
    margin-left: 1em;
    color: #393939;
    line-height: 1;
}

.p2{
    margin-left: 0.3em;
    color: #474747;
    line-height: 2;
    font-size: 20px;
}

span.blackback{
    text-indent: 3em;
    background: #393939;
    color: #efefef;
}
table {
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    padding: 5px 15px;
    border: solid 1px #333;
  }
  th{
    color: #333; 
  background-color: #f0f2f7;
  }
  caption{
    font-weight: bold;
  }

.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: -1;
  }
  .Paper_v2 {
    background-image:
      repeating-linear-gradient(to bottom,
        transparent 25px,
        rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
        transparent 27px,  transparent 51px, 
        rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
        transparent 53px,  transparent 77px, 
        rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
        transparent 79px,  transparent 103px, 
        rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
        transparent 105px,  transparent 129px, 
        rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
   
      repeating-linear-gradient(to right,
        transparent 25px,
        rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
        transparent 27px,  transparent 51px, 
        rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
        transparent 53px,  transparent 77px, 
        rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
        transparent 79px,  transparent 103px, 
        rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
        transparent 105px,  transparent 129px, 
        rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
  }
  .btn-circle-border-simple {
    display: inline-block;
    text-decoration: none;
    color: #393939;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    border: solid 2px #393939;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    transition: .4s;
  }
  
  .btn-circle-border-simple:hover {
    background: #efefef;
  }
    
.underline01 {
  background: #eeff00;
}

.underline02 {
  background: linear-gradient(transparent 40%, #f5ff00 60%);
}

.underline03 {
  background: linear-gradient(transparent 80%, #f5ff00 20%);
}





.slash {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0;
}

.slash::before,
.slash::after {
  content: "";
  width: 25px;
  height: 1px;
  background-color: #000;
  margin: 0px 4px 4px;
}

.slash::before {
  transform: rotate(45deg);
}

.slash::after {
  transform: rotate(-45deg);
}





ul, ol {
  padding: 0;
}

ul li {
  position: relative;
  list-style-type: none!important;/*ポチ消す*/
  padding: 0.3em 0.3em 0.3em 0.3em;
  margin-bottom: 10px;
  width: fit-content;
  line-height: 2;
  background: #d4d3d3;
  vertical-align: middle;
  color: #393939;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
}

ul li:before{ 
  display:inline-block; 
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}



.box {
  margin: 20px auto;
}
.box-ttl {
  background-color: #94b4ba;
  color: #fff;
  padding: 0.3em 20px;
  width: fit-content;
  border-radius: 10px 10px 0 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.box-txt {
  padding: 10px 20px 15px 20px;
  border: 2px solid #94b4ba;
  margin-top: 0;
  margin-left: 0;
  width: fit-content;
}

.box02 {
  margin: 20px auto;
}
.box02-ttl {
  background-color: #adadad;
  color: #fff;
  padding: 0.3em 20px;
  width: fit-content;
  border-radius: 10px 10px 0 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.box02-txt {
  padding: 10px 20px 15px 20px;
  border: 2px solid #adadad;
  border-radius: 0 10px 0 10px;
  margin-top: 0;
  margin-left: 0;
  width: fit-content;
}

.btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 300px;
	height: 60px;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	transition: 0.3s;
  left: 0;
}

.btn a:hover {
	color: #f2f2f2;
}

.btn04 a {
	background-color: #94b4ba;
	border: 1px solid transparent;
	border-radius: 35px;
}

.btn04 a::before {
	content: '';
	position: absolute;
	top: -5px;
  left: -5px;
	width: 100%;
	height: 100%;
  background-color: transparent;
	border: 1px solid #333;
	border-radius: 35px;
}

.btn04 a:hover {
	background-color: #4a5e61;
}





.circle_btn02 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items:center;
  max-width: 300px; /* ボタンの最大幅 */
  padding: 1em 1em;
  color: initial; /* 文字色 */
  transition: 0.3s ease-in-out;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  
}

.circle_btn02::before, .circle_btn02::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
}

.circle_btn02::before {
  width: 0.5em;
  height: 0.5em;
  left: 1em;
  border-top: solid 2px #fff; /* 矢印の色 */
  border-right: solid 2px #fff; /* 矢印の色 */
  z-index: 2;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.3s;
}

.circle_btn02::after {
  left: 0;
  background: #0489a18e; /* 背景色 */
  z-index: 1;
  width: 3em;
  height: 3em;
  border-radius: 3em;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.circle_btn02 span {
  position: relative;
  transition: all 0.3s;
  z-index: 3;
}

/* マウスオーバーした際のデザイン */
.circle_btn02:hover span {
  color: #fff; /* 文字色 */
}

.circle_btn02:hover:before {
  left: 2rem;
}

.circle_btn02:hover:after {
  right: 0;
  width: 100%;
  background: #5b9ba7;
}
