@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

logotohome img{
    border-radius: 70%;
    width: 70px;
    height: 70px;
    object-fit: cover; /* 画像のトリミング */
}



/* ========== common ========== */
html, body {
	font-size: 16px;
	font-family: sans-serif;
	color: #393939;
    margin-left: 15px;
    margin-bottom: 40px;

	background: #efefef;
        background-color: #FFF;
        background-image: linear-gradient( transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06)), linear-gradient( 90deg, transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06) );
        background-size: 16px 16px;
        background-repeat: repeat;
        width:100%;
        height:10vw;
    
}

.btn--orange,
h1 {
  border-bottom: 3px solid #000;
}

h2{
    margin-left: 1em;
    margin-top: 1em;
    color: #393939;
}
h3{
    margin-left: 2em;
    color: #393939;
}
div{
    margin-top: 1em;
    margin-left: 3em;

}
p{
    margin-left: 3em;
    color: #393939;
}
span.blackback{
    text-indent: 3em;
    background: #393939;
    color: #efefef;
}
table {
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    padding: 5px 15px;
    border: solid 1px #333;
  }
  th{
    color: #333; 
  background-color: #f0f2f7;
  }
  caption{
    font-weight: bold;
  }